<!DOCTYPE html>
<html>
    <head>
        <title>HR Administration Portal</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    </head>
    <body>

        <div class="topNavBar">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
         </div>
        
         <section id="first_section">
            <br><br>
            <p id="notice"><strong>NOTICE</strong>: Links will redirect to a foreign web application</p>
        </section>

        <section id="second_section">
            <p>Here in this paragraph we will give notice to everyone in this box.</p>
        </section>

        <!-- 
            Will add drop down menu for links.
            Will include images.
        -->

        <!-- <br /><br />

            HR Administration Links:<br />
            <ul>
                <li><a href="http://localhost:5000/redirect">Payroll</a></li>
                <li><a href="http://localhost:5000/redirect">Tax Exemptions</a></li>
                <li><a href="http://localhost:5000/redirect">Employee Complaints</a></li>
                <li><a href="http://localhost:5000/redirect">Lawfirm</a></li>
                <li><a href="http://localhost:5000/redirect">Legal Issues</a></li>
                <li><a href="http://localhost:5000/redirect">HR Calander</a></li>
                <li><a href="http://localhost:5000/redirect">Pay Adjustments</a></li>
                <li><a href="http://localhost:5000/redirect">401k Information</a></li>
            </ul>
            <br />

            Global Admin Links: <br />
            <ul>
                <li><a href="http://localhost:5000/redirect">Company Map</a></li>
                <li><a href="http://localhost:5000/redirect">Company Calander</a></li>
                <li><a href="http://localhost:5000/redirect">Emergency Numbers</a></li>
                <li><a href="http://localhost:5000/redirect">Building Plan</a></li>
                <li><a href="http://localhost:5000/redirect">Report Violation</a></li>
                <li><a href="http://localhost:5000/redirect">Health and Safety Information</a></li>
            </ul> -->

            <footer align="center">
                <br /><p id="copyright">This web portal and application &copy; copyright 2018</p>
            </footer>
    </body>
</html>
