<!DOCTYPE html>
<html>
    <head>
        <title>HR Administration Portal</title>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>

        <span id="hello"><h1>Hello, Donatello!</h1></span>
        <p>You are using the Administration Portal. Please be sure to
        logout after use. <br /><br />

        Role: HR Admin<br /> <!-- Can grab these variables in Flask -->
        ID: 5639202<br />  <!-- Can grab these variables in Flask -->
        Phone: 205-392-4282<br /> <!-- Can grab these variables in Flask -->
        <br /> <br />
        <span id="notice">Please notice:</span>&nbsp;&nbsp; Links will redirect to a foreign web application</p><br /><br />

            HR Administration Links:<br />
            <ul>
                <li><a href="redirect.html">Payroll</a></li>
                <li><a href="redirect.html">Tax Exemptions</a></li>
                <li><a href="redirect.html">Employee Complaints</a></li>
                <li><a href="redirect.html">Lawfirm</a></li>
                <li><a href="redirect.html">Legal Issues</a></li>
                <li><a href="redirect.html">HR Calander</a></li>
                <li><a href="redirect.html">Pay Adjustments</a></li>
                <li><a href="redirect.html">401k Information</a></li>
            </ul>
            <br />

            Global Admin Links: <br />
            <ul>
                <li><a href="redirect.html">Company Map</a></li>
                <li><a href="redirect.html">Company Calander</a></li>
                <li><a href="redirect.html">Emergency Numbers</a></li>
                <li><a href="redirect.html">Building Plan</a></li>
                <li><a href="redirect.html">Report Violation</a></li>
                <li><a href="redirect.html">Health and Safety Information</a></li>
            </ul>
            <div align="center">
                <p id="copyright">This web portal and application &copy; copyright 2018</p>
            </div>
    </body>
</html>
