<!DOCTYPE html>
<html>
    <head>
        <title>IT Administration Portal</title>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>

        <span id="hello"><h1>Hello, Mark!</h1></span>
        <p>You are using the Administration Portal. Please be sure to
        logout after use. <br /><br />

        Role: IT Admin<br /> <!-- Can grab these variables in Flask -->
        ID: 1528839<br />  <!-- Can grab these variables in Flask -->
        Phone: 713-970-3535<br /> <!-- Can grab these variables in Flask -->
        <br /> <br />
        <span id="notice">Please notice:</span>&nbsp;&nbsp; Links will redirect to a foreign web application</p><br /><br />

            IT Administration Links:<br />
            <ul>
                <li><a href="redirect.html">Active Directory</a></li>
                <li><a href="redirect.html">Employee Lookup</a></li>
                <li><a href="redirect.html">Escalation</a></li>
                <li><a href="redirect.html">Phone Numbers</a></li>
                <li><a href="redirect.html">Password Resets</a></li>
                <li><a href="redirect.html">IT Calander</a></li>
                <li><a href="redirect.html">Floor Plan</a></li>
                <li><a href="redirect.html">Data Center Layout</a></li>
            </ul>
            <br />

            Global Admin Links: <br />
            <ul>
                <li><a href="redirect.html">Company Map</a></li>
                <li><a href="redirect.html">Company Calander</a></li>
                <li><a href="redirect.html">Emergency Numbers</a></li>
                <li><a href="redirect.html">Building Plan</a></li>
                <li><a href="redirect.html">Report Violation</a></li>
                <li><a href="redirect.html">Health and Safety Information</a></li>
            </ul>
            <div align="center">
                <p id="copyright">This site &copy; copyright 2018</p>
            </div>
    </body>
</html>
