<!DOCTYPE html>
<html>
    <head>
        <title>IT Administration Portal</title>
        <link rel="stylesheet" type="text/css" href="#">
    </head>
    <body>

        <span id="hello"><h1>Hello, Mark!</h1></span>
        <p>You are using the Administration Portal. Please be sure to
        logout after use. <br /><br />

        Role: IT Admin<br /> <!-- Can grab these variables in Flask -->
        ID: 1528839<br />  <!-- Can grab these variables in Flask -->
        Phone: 713-970-3535<br /> <!-- Can grab these variables in Flask -->
        <br /> <br />
        <span id="notice">Please notice:</span>&nbsp;&nbsp; Links will redirect to a foreign web application</p><br /><br />

            IT Administration Links:<br />
            <h5>Please select the links that you would like to have displayed for regular users</h5>
            <form action="http://localhost:5000/updatelinks">
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Active Directory</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Employee Lookup</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Escalation</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Phone Numbers</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Password Resets</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">IT Calander</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Floor Plan</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Data Center Layout</a><br />
                <input type="checkbox">
                <a href="http://localhost:5000/redirect">Website Blacklist</a><br /><br />

                <input type="submit" value="Submit">
                <input type="reset">
            </form>

            <div align="center">
                <p id="copyright">This web portal and application &copy; copyright 2018</p>
            </div>
    </body>
</html>
