<!DOCTYPE html>
<html>
    <head>
        <title>Management Administration Portal</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <span id="hello"><h1>Hello, Bryan!</h1></span>
        <h2>You are using the Administration Portal. Please be sure to
        logout after use.</h2> <br /><br />

        Role: COO<br /> <!-- Can grab these variables in Flask -->
        ID: 2468392<br />  <!-- Can grab these variables in Flask -->
        Phone: 281-522-3838<br /> <!-- Can grab these variables in Flask -->
        <br /> <br />
        <span id="notice">Please notice:</span>&nbsp;&nbsp; Links will redirect to a foreign web application</p><br /><br />

            Management Administration Links:<br />
            <ul>
                <li><a href="http://localhost:5000/redirect">Employees</a></li>
                <li><a href="http://localhost:5000/redirect">Meetings</a></li>
                <li><a href="http://localhost:5000/redirect">Department Reports</a></li>
                <li><a href="http://localhost:5000/redirect">Weekly Reports</a></li>
                <li><a href="http://localhost:5000/redirect">Legal Issues</a></li>
                <li><a href="http://localhost:5000/redirect">Your Calander</a></li>
                <li><a href="http://localhost:5000/redirect">Contacts</a></li>
                <li><a href="http://localhost:5000/redirect">News and Updates</a></li>
            </ul>
            <br />

            Global Admin Links: <br />
            <ul>
                <li><a href="http://localhost:5000/redirect">Company Map</a></li>
                <li><a href="http://localhost:5000/redirect">Company Calander</a></li>
                <li><a href="http://localhost:5000/redirect">Emergency Numbers</a></li>
                <li><a href="http://localhost:5000/redirect">Building Plan</a></li>
                <li><a href="http://localhost:5000/redirect">Report Violation</a></li>
                <li><a href="http://localhost:5000/redirect">Health and Safety Information</a></li>
            </ul>
            <div align="center">
                <p id="copyright">This web portal and application &copy; copyright 2018</p>
            </div>
    </body>
</html>
