html {
	font-family: 'Noto Sans JP';
}

body {
	background-color: white;
}

h1, h2 {
	text-align: center;
}

ul {
	border-style: double;
	border-color: black;
	margin-right: 800px;
}

.taskbar {
	float: right;
	word-spacing: 10px;
}

#hello {
	text-transform: uppercase;
	text-align: right;
}

#toolbar {
	border-style: 
}

#info {
	border-style: double;
	border-color: black;
	margin-right: 800px;
	border
}

#notice {
	background-color: lightgray;
	text-decoration-style: italic;
	border-left: 5px solid red;
	border-color: red;
}


